<!doctype html>
<html>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<head>
    <title>CS 429 BB Lab Leaderboard</title>
</head>

<body>
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Best Stage</th>
            <th>Explosions</th>
        </tr>
        {% for id, results in submissions.items() %}
        <tr>
            <td>{{id}}</td>
            <td>{{results.best_stage}}</td>
            <td>{{results.explosions}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>


<html>
    <head>
    <title>Bomb Lab Scoreboard</title>
    </head>
    <body bgcolor=ffffff>

    <h2>Bomb Lab Scoreboard</h2>
    <p>
    <table width=500><tr><td>
    This page contains the latest information
    that we have received from your bomb. If your solution is marked 
    <font color=ff0000><b>invalid</b></font>, 
    this means your bomb reported a solution that didn't actually defuse your bomb.
</td></tr></table>
<p>Last updated: Thu Nov  7 14:57:20 2024 (updated every 30 secs)<br>

<p>
<table border=0 cellspacing=1 cellpadding=1>
<tr bgcolor=#b8d8ff align=center>
<th align=center> # </th> 
<th align=center, width=90>  Bomb number</th>
<th align=center, width=120>Submission date</th>
<th align=center, width=80>Phases defused</th>
<th align=center, width=80>Explosions</th>
<th align=center, width=80>Score</th>
<th >Status</th>
</tr>
</table>
<font size=-1> <p>Summary [phase:cnt]  </font>
<font size=-1> [1:0]  </font><font size=-1> [2:0]  </font><font size=-1> [3:0]  </font><font size=-1> [4:0]  </font><font size=-1> [5:0]  </font><font size=-1> [6:0]  </font><font size=-1> total defused = 0/0<br>
 </font><p></body></html>
